@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600; 1.700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Titillium Web", sans-serif;
}
#logo1{
    color: white;
    border-radius: 15px;
    box-sizing: border-box;
    cursor: pointer;
    width: 50px;
    height: 50px;  
}
#container{
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
header{
    padding: 10px;
    background-color: black;
    width: 100%;
}
.logo, .sociais{
    width: 25%;
}
.menu{
    width: 50%;
}
.menu nav a{
    color: white;
    text-decoration: none;
    padding-right: 50px;
    font-size: 18px;
    position: relative;
}

.menu nav a::after{
    content: " ";
    width: 0px;
    height: 4px;
    background-image: linear-gradient(45deg, #12162B, #011E4B, #004178, #005BAA);
    position: absolute;
    top: 23px;
    left: 0;
    transition: width 0.5s;
}

.menu nav a:hover::after{
    width: 30px;
}

.sociais button{
    width: 40px;
    height: 40px;
    background-image: linear-gradient(45deg,#12162B, #011E4B, #004178, #005BAA);
    border: none;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.sociais button i{
    font-size: 20px;
    color: white;
}
#inicio{
    border-top: 5px solid #005baa;
    width:100%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.562);
}
.boxi{
    width: 400px;
    height: 400px;
    margin: 20px;
    background-color:rgba(255, 255, 255, 0.05) ;
    border-radius: 15px;
    position: relative;
    bottom: 95%;
    border-top: 1px solid rgba(153, 153, 153, 0.5);
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    border-left: 1px solid rgba(153, 153, 153, 0.5);
    backdrop-filter: blur(10px);
}
.foto{
    width: 100%;
    height: 100%;
}
h1{
    text-align: center;
    color: #023058;
    font-size: 30px;
}
h2{
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 15px;
    color: #011E4B;
}
p{
  text-align: center;  
  padding: 15px;
}
.foto1{
    width: 100%;
    height: 100%;
}

.boxi1{
    width: 400px;
    height: 400px;
    margin: 20px;
    background-color:rgba(255, 255, 255, 0.05) ;
    border-radius: 15px;
    position: relative;
    top: -90%;
    left: 60%;
    border-top: 1px solid rgba(153, 153, 153, 0.5);
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    border-left: 1px solid rgba(153, 153, 153, 0.5);
    backdrop-filter: blur(10px);
}
.foto2{
    width: 100%;
    height: 100%;
}

.boxi2  {
    width: 400px;
    height: 425px;
    margin: 20px;
    background-color:rgba(255, 255, 255, 0.05) ;
    border-radius: 15px;
    position: relative;
    top: -95%;
    left: 0.01%;
    border-top: 1px solid rgba(153, 153, 153, 0.5);
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    border-left: 1px solid rgba(153, 153, 153, 0.5);
    backdrop-filter: blur(10px);
}
.mars{
    width: 55%;
    transform: translate(40%);
    border-radius: 45px;
    border-style: ridge;
    border: solid yellow;
}
.final{
    background-color: #000000;
    width: 100%;
    height: 80px;
}

/* Estilos do footer */
footer {
    background-image: linear-gradient(to left, #12162B, #011E4B, #004178, #005BAA);
    color: #fff;
    padding: 30px 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
}

.footer-section {
    padding: 10px;
    flex: 1;
}

.footer-section h3 {
    font-size: 16px;
    margin-bottom: 8px;
}

.footer-section p {
    font-size: 14px;
    line-height: 1.5;
}

.contact {
    margin-top: 12px;
}

.contact span {
    display: block;
    margin-bottom: 8px;
}

.socials a {
    color: #fff;
    font-size: 18px;
    margin-right: 8px;
}

.links ul {
    list-style: none;
    padding: 0;
}

.links li {
    margin-bottom: 8px;
    text-decoration: none;
}
.btn {
    display: inline-block;
    background-color: #ff4500;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}

.btn-big {
    font-size: 15px;
}

.footer-bottom {
    background-color: #000000;
    text-align: center;
    padding: 6px 0;
    margin-top: 5px;
}
li{
    color: #ff4500;
}
input{
    height: 27px;
    border-radius: 10px;
}